# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,ts,html,css}]
charset = utf-8
indent_style = tabs
indent_size = 4

[{package.json,.parcelrc,.postcssrc,.prettierrc,tsconfig.json}]
indent_style = space
indent_size = 2